<html>
    <head><title>Demo LTI Assessment Tool</title></head>
    <body>
        <h1>Demo LTI Assessment Tool</h1>
            <p>Hi, {{ display_name }}. On a scale of <code>0.0</code> to <code>1.0</code>, how well would you say you did on this assessment?</p>
        <form action="/assessment" method="post">

            <input name='score' type='text' width='5' id='score' />
            <input type='submit' value='Submit' />
        </form>

        <p>
            Open edX Identity: anonymous_id={{anonymous_id}}, username={{ username}}, email={{email}}
        </p>
    </body>
</html>
