<html>
    <head><title>Demo LTI Tool</title></head>
    <body>
        <p>Hi, {{ display_name }}, this is an LTI tool. I hope you learned a lot.</p>
        {% if instructor %}
        <p>You are a teacher, so you could configure this tool now if it were cool enough to have configurations.</p>
        <p>If you come back as a student you may get to take a test.</p>
        {% elif student %}
        <p>You're lucky this isn't an assessment launch, you just get to sit here and do nothing.</p>
        {% endif %}
        {% if roles %}
        <p>Your roles are {{ ",".join(roles) }}</p>
        {% else %}
        <p>You don't have a role so I don't know what to do with you.</p>
        {% endif %}

        <p>
            Open edX Identity: anonymous_id={{anonymous_id}}, username={{ username}}, email={{email}}
        </p>

        {% if launch_presentation_return_url %}
        <a href="{{ return_url }}">Click here to return to .</a>
        {% endif %}
    </body>
</html>
